---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Search from "@/components/Search.tsx";
import Logo from "@/components/Logo.astro";
import Pagination from "@/components/Pagination.astro";
import { getTags, getTools } from "@/lib/notion";

const tags = await getTags();
const tools = await getTools();
---

<Layout title="ωεβ Τσφδ">
  <main class="container mx-auto flex flex-col items-center">
    <div class="absolute flex justify-center mt-4">
      <Logo class="size-32 text-black/45 -z-20" />
    </div>
    <h1 class="text-5xl text-balance text-center z-20 my-10">
      Welcome to <span class="text-pink-700">ωεβ Τσφδ</span>
    </h1>
    <p class="text-pretty my-6 z-20 text-xl text-center">
      Web Tools is a comprehensive collection of web resources and tools curated
      to empower developers worldwide
    </p>
    <p class="hidden">
      . Explore an array of utilities, frameworks, APIs, and tutorials tailored
      to enhance your coding experience and streamline your development
      workflow. Whether you're a seasoned professional or just starting, find
      everything you need to bring your projects to life, right at your
      fingertips
    </p>
    <Search client:load fetchTags={tags} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5"
    >
      {
        tools.map((item) => (
          <Card
            id={item.id}
            img={item.img}
            title={item.title}
            url={item.url}
            tags={item.tags}
          />
        ))
      }
    </div>
    <Pagination />
  </main>
</Layout>
